# Исключаем временные файлы PyCharm
.idea/
*.iml

# Исключаем Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем виртуальные окружения
venv/
env/
.venv/

# Исключаем логи и другие файлы
*.log
*.sqlite3
